body{ display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
html { 
    background-color: #1f2937;
}
header{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 10px;
       }
a { 
    text-decoration: none;
}
span {
        margin-right: auto;
       }
    a:first-child {
        color: #f9faf8;
        font-size: 24px;$
                   }
header > a{
    font-size: 18px;
    color: #e5e7eb;
}
h2 {
font-size: 48px;
font-weight: bold;
}
button {
    background-color: #3882f6;
    
        }
    h3 {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
    }
    .container1 ,footer{
        background-color: #1f2937;
        color: #f9faf8;
    }
    footer{
        align-items: flex-end;
        height: 15px;
    }
    .container1{
        display: flex;
        flex-direction: column;
        padding: 0px 50px 50px 150px  ;
         }
         .awesome {
             display: flex;
             align-items: center;
             justify-content: space-between;
             
                     }
                     img { justify-items: flex-end;
                     }
                     .container2   {
                         display: flex ;
                         background-color: green;
                     }
                     .container3 {
                         display: flex;
                         background-color: #e5e7eb;
                     }
                     .container4 {
                         height: 500px;
                         display: flex;
                         background-color: #3882f6;
                     }

